html,
body,
main,
nav {
  background-color: beige;
}

.navbar-brand {
  font: Times New Roman, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
th,
td,
tr {
  padding: 10px;
  font: Times New Roman, sans-serif;
  text-align: center;
  text-wrap: balance;
  width: 1500px;
  border: 1px solid black;
}

td img {
  width: auto;
  height: 250px;
  border-radius: 30px;
}
