.App {
  padding-top: 50px;
  min-height: 479px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5eedd;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

input,
select {
  width: 350px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}
