.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  cursor: default;
}

.App-link {
  color: #61dafb;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

input {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

input:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

.varValue {
  text-align: start;
}

.var {
  text-align: start;
  padding-right: 40px;
}

label {
  font: Times, sans-serif;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container {
  background-color: #ffffff2e;
  min-width: 500px;
  min-height: 300px;
  padding: 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 250vh;
  z-index: -1;
}

.dataTable td {
  text-align: left;
  padding: 20px;
}

.dataTable th {
  text-align: center;
  padding: 10px;
}

.routes {
  width: 200px;
}
