input {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}

.submit-button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.submit-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: white;
  color: green;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}
